src/main/resources/sqlmap.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.epril.com/sqlmap"
           xmlns:tns="http://www.epril.com/sqlmap"
           elementFormDefault="qualified">

    <xs:element name="sqlmap">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sql" type="tns:sqlType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="sqlType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="key" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>
